/*start css for master */

body {
	/*Background image compliments of subtlepatterns.com*/
	background-image: url('/pics/black_paper.png');
	background-attachment: fixed;
	color: white;
	margin-top: 40px;
}
/*end css for master*/

/*START CSS FOR HELLO.BLADE*/
.centered-text{
	text-align: center;
}

.line {
	border-bottom: 2px solid black;
}

.text-center{
	text-align: center;
}

h3 {
	font-family: 'Lobster', cursive;
	color: #dfdfdd;
	font-size: 3em;
}

.text-color {
	color: black;	
	font-family: 'Droid Serif', serif;
}

#logo{
	margin-top: 70px;
	float: none;
	margin-bottom: 70px;
}

#main {
/*	margin-bottom: 10px;
*/	margin-top: 20px;
	background-image: url('/pics/Tap.jpg');
}

#thehow{
	margin-top: 20px;
	background-image: url("/pics/purty_wood.png");
	width: 100%;
	height: 640px;
	background-attachment: fixed;
/*	display: none;
*//*	overflow-y: hidden;
*/}

#how {
	margin-top: 30px;
}

#how-section{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px
}

#search {
	background-image: url('/pics/transparent-bckground.png');
	background-attachment: fixed;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
}

.map{
	width: 50%;
	margin: 10px;
	height: 75%;
}

#about{
	margin-right: 30px;
	margin-left: 30px;
}

.center-image{
	float: none;
	margin: 0 auto;
}

#theteam{

}

/*END CSS FOR HELLO.BLADE*/

/*START CSS FOR BREWERIES.BLADE*/

#body {
	background-image: url('/pics/purty_wood.png');
	background-attachment: fixed;
	width: 100%;
}

#thebreweries {
	margin-top: 20px;
}
#breweries {
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.abel-font{
	font-family: 'Abel', sans-serif;
	font-size: 15px;
}

.name-local{
/*	margin-bottom: 15px;
*/}
.brewery-name {
	font-family: 'Droid Serif', serif;
	font-size: 2em;	
	color: #f8f1dd;
	text-align: center;
}

.brewery-info{
	color: black;
}

.brewery-location{
	text-align: center;
}

.website{
	text-align: center;
}

.brewery-story{
	font-family: 'Droid Serif', serif;
	text-align: center;

}

.delete_button:hover, .delete_button:focus, .delete_button{
	background-color: initial;
	border: none;
	color: #cf132e;
	padding: 2px;
	outline: none;
}

.modal-header{
	border: none;
	padding: 10px;
}

.modal-background{
	background-image: url('/pics/purty_wood.png');
}
/*END CSS FOR BREWERIES.BLADE*/

#modal-content{
	color: black;
}

/*START CSS FOR USERS.CREATE*/

#create{
	margin-top: 30px;

}

/*END CSS FOR USERS.CREATE*/

/*START CSS FOR BEERS INDEX*/

#thebeer{
	margin-top: 20px;
}

.beertitle{
	font-size: 2em;
}

.beerinfo{
	font-family: 'Droid Serif', serif;

}

/*END CSS FOR BEERS INDEX*/

/*START CSS FOR WELCOME PAGE*/

.welcome{
	background-image: url('/pics/purty_wood.png');
	margin-top: 30px;
}

#welcomelogo{
	margin: 20px;
}

.lobster-text{
	font-family: 'Lobster', cursive;
	text-align: center;
	margin-top: 30px;
	font-size: 4em;
}

.droid-serif{
	font-family: 'Droid Serif', serif;
	font-size: 2em;
	color: white;
}

.lobster{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 4em;

}
/*END CSS FOR WELCOME PAGE*/

/*CSS FOR RATING SYSTEM*/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}

