/*start css for master */

body {
	/*Background image compliments of subtlepatterns.com*/
	background-image: url('/pics/black_paper.png');
	background-attachment: fixed;
	color: white;
	margin-top: 40px;
}
/*end css for master*/

/*START CSS FOR HELLO.BLADE*/
.centered-text{
	text-align: center;
}

.line {
	border-bottom: 2px solid black;
}

.text-center{
	text-align: center;
}

h3 {
	font-family: 'Lobster', cursive;
	color: #dfdfdd;
	font-size: 3em;
}

.text-color {
	color: black;	
	font-family: 'Droid Serif', serif;
}

#logo{
	margin-top: 70px;
	float: none;
	margin-bottom: 70px;
}

#main {
/*	margin-bottom: 10px;
*/	margin-top: 20px;
	background-image: url('/pics/Tap.jpg');
}

#thehow{
	margin-top: 20px;
	background-image: url("/pics/purty_wood.png");
	width: 100%;
	height: 640px;
	background-attachment: fixed;
/*	display: none;
*//*	overflow-y: hidden;
*/}

#how {
	margin-top: 30px;
}

#how-section{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 20px
}

#search {
	background-image: url('/pics/transparent-bckground.png');
	background-attachment: fixed;
	width: 100%;
	margin-top: 10px;
	padding: 10px;
}

.map{
	width: 50%;
	margin: 10px;
	height: 75%;
}

#about{
	margin-right: 30px;
	margin-left: 30px;
}

.center-image{
	float: none;
	margin: 0 auto;
}

#theteam{

}

/*END CSS FOR HELLO.BLADE*/

/*START CSS FOR BREWERIES.BLADE*/

#body {
	background-image: url('/pics/purty_wood.png');
	background-attachment: fixed;
	width: 100%;
}

#thebreweries {
	margin-top: 20px;
}
#breweries {
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.abel-font{
	font-family: 'Abel', sans-serif;
	font-size: 15px;
}

.name-local{
	margin-bottom: 15px;
}
.brewery-name {
	font-family: 'Droid Serif', serif;
	font-size: 2em;	
	color: #f8f1dd;
	text-align: center;
}

.brewery-info{
	color: black;
}

.brewery-location{
	text-align: center;
}

.website{
	text-align: center;
}

.brewery-story{
	font-family: 'Droid Serif', serif;
	text-align: center;

}

.delete_button:hover, .delete_button:focus, .delete_button{
	background-color: initial;
	border: none;
	color: #cf132e;
	padding: 2px;
	outline: none;
}

.modal-header{
	border: none;
	padding: 10px;
}

.modal-background{
	background-image: url('/pics/purty_wood.png');
}
/*END CSS FOR BREWERIES.BLADE*/

#modal-content{
	color: black;
}

/*START CSS FOR USERS.CREATE*/

#create{
	margin-top: 30px;

}

/*END CSS FOR USERS.CREATE*/

/*START CSS FOR BEERS INDEX*/

#thebeer{
	margin-top: 20px;
}

.beertitle{
	font-size: 2em;
}

.beerinfo{
	font-family: 'Droid Serif', serif;

}

/*END CSS FOR BEERS INDEX*/

/*START CSS FOR WELCOME PAGE*/

.welcome{
	background-image: url('/pics/purty_wood.png');
	margin-top: 30px;
}

#welcomelogo{
	margin: 20px;
}

.lobster-text{
	font-family: 'Lobster', cursive;
	text-align: center;
	margin-top: 30px;
	font-size: 4em;
}

.droid-serif{
	font-family: 'Droid Serif', serif;
	font-size: 2em;
	color: white;
}

.lobster{
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 4em;

}
/*END CSS FOR WELCOME PAGE*/

